.btn-primary {
  color: #ffffff;
  background-color: #0d142c;
  /* background-color: #1f1f1f; */
  border-color: #0d142c;
  border-radius: 0.0rem;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #070B17;
  /* background-color: #404040; */
  border-color: #070B17;
}
.btn-default {
  color: #ffffff;
  background-color: #0d142c;
}
.btn-default:hover {
  color: #ffffff;
  background-color: #070B17;
}
.navbar-nav {
    display:table !important;
    width:100% !important;
    margin: 0 !important;
}

.nav-link {
color: #0d142c !important;
}


.navbar-brand {
color: #0d142c!important;
}
.navbar-nav > li {
    float:none !important;
	position: relative !important;
    display:table-cell !important;
    text-align:center !important;
}
.nav-link.active span{
  border-bottom: 3px solid #0d142c;
  bottom: -10px;

}
@font-face {
    font-family: 'mermaidbold';
    src: url('mermaid1001-webfont.woff2') format('woff2'),
         url('mermaid1001-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
html, body {
    font-family: 'mermaidbold', sans-serif; 
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
	background: #f2f0e6;
	color: #0d142c;
}